img{
    margin-right: auto;
    width: 14%;
  }
  .videos{
    width: 30%;
    margin-top: 2%;
  }

  .container{
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }


  .responsive-iframe {
    
    width: 99%;

    
  }
.responsive-iframes{
    width: 49.5%;
    padding: 1%;

}
.event-title{
    width: 30%;
    text-align: center;
}