
.row{
    color: rgb(218, 218, 218);
    text-align: center;
    font-size: 1.25rem;
    font-family:'Courier New', Courier, monospace;
    padding: 2%;
}
.img{
    max-width: 99%;
   
}
.fa {
    color: #d39fdd;
    opacity: 100%;
    padding: 2%;
    font-size: 30px;
    width: 30px;
    text-align: left;
    text-decoration: none;
    border-radius: 50%;
    
  }

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
  }
  

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .img-link{
      margin-left: 9%;
  }
  .flex-link{
      justify-content: space-between;
  }
.album{
    
    color: rgb(218, 218, 218);
    font-family:'Open Sans', Arial, sans-serif;
    text-align: center;
}
.contact{
    
    font-size: 1rem;
    color: #d39fdd;
    font-family:'Open Sans', Arial, sans-serif;
    opacity: 100%;
    text-align: center;
}
#us {
    font-size: 1.15rem;
}
.email{
    margin-top:1%;
    
    color: rgb(218, 218, 218);
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}
.phone{
    margin-top: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: rgb(218, 218, 218);
}
#music{
    font-weight: 520;
    font-size: 1.15rem;
    color: #d39fdd;
    font-family:'Open Sans', Arial, sans-serif;
    opacity: 100%;
    text-align: center;
}